<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dashboard</title>
</head>
<body>
    <h2>Welcome to User!</h2>
    <nav>
        <a href="/user_dashboard">Home</a> |
        <a href="/user_summary">Summary</a> |
        <a href="/user_logout">Logout</a>
    </nav>
    <table border ="1" cellpadding="10" cellspacing="0">
        <tr>
            <th>ID</th>
            <th>Location</th>
            <th>Vehicle_number</th>
            <th>Timestamp</th>
            <th>Action</th>
        </tr>
        <tr>
            <td>Data 1A</td>
            <td>Data 2A</td>
            <td>Data 3A</td>
            <td>Data 4A</td>
            <td>Data 5A</td>
        </tr>
        <tr>
            <td>Data 1B</td>
            <td>Data 2B</td>
            <td>Data 3B</td>
            <td>Data 4B</td>
            <td>Data 5B</td>
        </tr>
        <tr>
            <td>Data 1C</td>
            <td>Data 2C</td>
            <td>Data 3C</td>
            <td>Data 4C</td>
            <td>Data 5C</td>
        </tr>
    </table>
</body>
</html>